<header>
  <mat-card class="nav-bar mat-elevation-z2">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div id="logo" class="cursor-pointer noselect" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px"
        [routerLink]="''">
        <img [matTooltip]="infoBagIcon" matTooltipPosition="below" src="assets/images/bag.svg" width="40" />
        <span class="action">
          <em>Iturra Store Enterprise</em>
        </span>
      </div>
      <div class="opcoes" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
        <div>
          <button mat-mini-fab color="primary">
            <mat-icon [matBadge]="badgeValue" matBadgeColor="warn" matBadgeSize="medium">shopping_cart</mat-icon>
          </button>
        </div>
        <ng-container *ngIf="!usuarioLogado; else logado">
          <div fxLayout="column" fxLayoutAlign="center start">
            <span class="welcome">Bem-vindo!</span>
            <div>
              <span mat-ripple [matRippleRadius]="rippleRadiusValue" class="action noselect"
                [routerLink]="'/registrar'"> Crie sua
                conta </span>
              <span> ou, faça o </span>
              <span mat-ripple [matRippleRadius]="rippleRadiusValue" class="action noselect"
                [routerLink]="'/login'">Login</span>
            </div>
          </div>
        </ng-container>
        <ng-template #logado>
          <div fxLayout="row" fxLayoutAlign="start center">
            <img [matTooltip]="infoUserIcon" matTooltipPosition="below" src="assets/images/user.svg" width="40" />
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Meu perfil</button>
              <button mat-menu-item>Meus pedidos</button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="sair()">
                <mat-icon color="warn">logout</mat-icon><span class="logoff">Sair</span>
              </button>
            </mat-menu>
          </div>
        </ng-template>
      </div>
    </div>
  </mat-card>
</header>
