<div fxLayout="row" fxLayoutAlign="center center" class="page-blank-padding">
  <mat-card class="form-wrapper width--full">
    <h3>Login</h3>
    <form class="pt-4" fxLayout="column" fxLayoutAlign="center center" [formGroup]="frmLogin">
      <div fxFlex="100" class="size--input">
        <mat-form-field class="width--full">
          <mat-label>Email</mat-label>
          <input [autofocus]="true" autocomplete="off" matInput type="email" placeholder="Insira seu email"
            formControlName="email" required>
          <mat-error>Email é obrigatório</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="size--input">
        <mat-form-field class="width--full">
          <mat-label>Senha</mat-label>
          <input autocomplete="off" matInput [type]="hidePasswrd ? 'password' : 'text'" placeholder="Insira sua senha"
            formControlName="senha" required>
          <button mat-icon-button matSuffix (click)="hidePasswrd = !hidePasswrd" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePasswrd">
            <mat-icon>{{hidePasswrd ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>Senha é obrigatório</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" class="size--input margin-btn">
        <button mat-button [routerLink]="'/registrar'"><span class="register-text">Ainda não tem
            uma conta?</span>
        </button>
      </div>

      <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" class="size--input">
        <button (click)="OnSubmit()" [disabled]="frmLogin.invalid" mat-raised-button color="primary"
          class="btn-size">Entrar</button>
      </div>
    </form>
  </mat-card>
</div>
